@import "globals";

@mixin top-semi-circle {
    border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

$trackSize: 20px;

.gauge {
    position: relative;

    width: 100px;
    height: 50px;

    overflow: hidden;

    transition: $progressAnimationTime linear;
    transform: translate3d(0, 0, 0);

    @include top-semi-circle();
    // background: linear-gradient(
    //     to right,
    //     #c0392b 0%,
    //     #f1c40f 50%,
    //     #1abc9c 100%
    // );

    &::before {
        content: "";

        position: absolute;
        background-color: gray;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        transform-origin: 50% 100%;
        transition: $progressAnimationTime linear;
    }

    &::after {
        @include top-semi-circle();
        position: absolute;
        background-color: $contentBackground;
        line-height: 40px;
        text-align: center;
        bottom: 0;
        top: $trackSize;
        left: $trackSize;
        right: $trackSize;
    }

    @for $progress from 0 through 100 {
        &[data-progress="#{$progress}"]::after {
            content: "#{$progress} %";
        }
        &[data-progress="#{$progress}"]::before {
            transform: rotate(180deg / 100 * $progress);
        }
    }
    @for $progress from 0 through 100 {
        $bgColorBegin: #24b8d9;
        $bgColorEnd: #14d134;

        &[data-progress="#{$progress}"] {
            background-color: mix($bgColorBegin, $bgColorEnd, $progress * 1%);
        }
    }
}
