@import "~reset-css/sass/_reset";
@import "globals";
@import "top";
@import "items";
@import "timeline";
@import "gauges";
@import "progress_bar";
@import "profile";
@import "experiences";

html,
body {
    min-height: 100%;
    min-width: 100%;
}

h1,
h2,
h3,
h4 {
    color: #3f3232;
}

svg {
    fill: #3f3232;
}

body {
    background-image: linear-gradient(
        to bottom,
        $bannerBackground 0px,
        $bannerBackground 150px,
        $contentBackground 150px,
        $contentBackground 100%
    );
}

.container {
    margin: 0 auto;
    padding: 0 /* top */ 16px 16px 16px;
    box-sizing: border-box;
    max-width: 900px;
    min-width: 600px;
}

#profile,
#experiences {
    display: inline-block;
    min-height: 100px;
    vertical-align: top;
}
