@import "globals";

$borderColor: white;

.progress-bar {
    position: relative;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to right, #24b8d9, #14d134);

    border-radius: 4px;
    border: 3px solid $borderColor;
    box-sizing: border-box;

    &::before {
        content: "";

        position: absolute;

        top: 0;
        bottom: 0;
        right: 0;

        background: gray;

        transition: $progressAnimationTime linear;
    }

    &::after {
        min-width: 45px;
        text-align: left;

        position: absolute;

        top: 0;
        bottom: 0;
        right: 0;

        transition: $progressAnimationTime linear;
    }

    @for $progress from 0 through 100 {
        &[data-progress="#{$progress}"]::before {
            width: (100 - $progress) * 1%;
        }
        &[data-progress="#{$progress}"]::after {
            content: "\00a0\00a0#{$progress} %";
            width: (100 - $progress) * 1%;
        }
    }
}
